{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<h1>Assassins</h1>
<h2>Rules of Play</h2>
<br>
<!--<p>Welcome ______ </p>*********-->
<h3>The Game</h3>
    <p class="explanation">Each person is assigned a target. Your aim is to tap your target with a spoon. When you tap your target, they are out of the game, and whoever was their target now becomes yours. At the beginning of each round, you will be given a date by which you must make your kill. If you do not find and eliminate your target by this date, you will be out of the game and your target will be assigned to someone else. The game continues until there is just one survivor left.</p>
<br>
<h3>The Rules</h3>
    <ol type = "1">
        <li>In order to kill your target, you must be holding the spoon while you tap them</li>
        <li>If you get killed, you must tell your killer their new target (i.e. whoever your target was)</li>
        <li><strong>OPTIONAL:</strong> (admin will decide) Once you kill your target, you must send a photo of your target and spoon in the group chat so everyone knows they've been eliminated.</li>
    </ol>
<br>
<h3>Off Limits Areas</h3>
    <ol type = "1">
        <li>Inside dorm rooms; houses are fair game</li> 
        <li>In class</li>
        <li>Any event where your tapping them would interrupt something important and/or be inappropriate (i.e. you may not climb up on stage to tap someone in the middle of a performance, or interrupt their zoom interview for goldman sachs (well..maybe if it’s for THAT we'd let it slide…)</li>
    </ol>
{% endblock %}